main {
    width: 80%;
    margin: auto;
}

header {
    background-color: #9cd6f4;
    background-image: url("./../img/pattern.png");
    background-size: 40%;
}

h1 {
    font-size: 35px;
    margin-bottom: 0;
}

#logo {
    width: 10%;
    padding: 25px 0px;
    margin: 0 10%;
}

.text-blue{
    color: #93c5ff;
}

.text-gray{
    color: #89837e;
}

.font-small {
    font-size: 12px;
}

.subtitles{
    line-height: 5%;
}

figcaption {
    font-size: 12px;
}

ul {
    padding-left:0;
    list-style-position:inside; 
}

table {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}

.small-cell {
    width: 25%;
}

.large-cell {
    width: 50%;
}

.text-white {
    color: white;
    background-color: #81a7fb;
}

.bg-azure {
    background-color: #dfe5f2;
}

footer {
    padding: 1px;
    background-color: #313a6b;
    color: white;
    text-align: center;
}